.modal__container_type_delete {
  max-width: 670px;
  width: 670px;
  height: 280px;
  padding: 0;
}

.modal__content_type_delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal__text {
  margin: 60px 0 24px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
}

.modal__buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.modal__confirm-btn {
  color: #ff4d00;
  background-color: #fff;
  border: none;
  padding: 8px 16px;
  height: 36px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  cursor: pointer;
  transition: color 0.3s ease;
}

.modal__cancel-btn {
  background: none;
  border: none;
  padding: 8px 16px;
  height: 36px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  cursor: pointer;
  transition: color 0.3s ease;
}

@media (max-width: 768px) {
  .modal__container_type_delete {
    max-width: 360px;
    width: 360px;
    margin: 16px;
  }
}
