.card {
  position: relative;
  cursor: pointer;
}

.card__image {
  width: 328px;
  height: 328px;
  border-radius: 10px;
  object-fit: cover;
}

.card__header {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 10px;
}

.card__name {
  margin: 0;
  max-width: fit-content;
  padding: 2px 12px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  background-color: #fff;
  border-radius: 8px;
  white-space: nowrap;
}

.card__like-button {
  background: url("../../assets/card__like-button.png") no-repeat center;
  background-size: contain;
  width: 24px;
  height: 22px;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.card__like-button:hover {
  opacity: 0.6;
}

.card__like-button_active {
  background: url("../../assets/card__like-button_active.png") no-repeat center;
  background-size: contain;
}

/* Responsive design */
@media (max-width: 768px) {
  .card__name {
    font-size: 12px;
    padding: 6px 12px;
  }
}
