.weather-card {
   position: relative;
   display: flex;
   height: 80px;
   border-radius: 12px;
   overflow: hidden;
}

.cards {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.weather-card_temp {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  position: absolute;
  top: 20px;
  left: 16px;
  color: #fff;
}

.weather-card_image {
  object-fit: cover;
   width: 100%;
   object-position: right top;
}