.page {
  background-color: #f3f3f3;
  font-family: "CabinetGrotesk", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__content {
  max-width: 1440px;
  margin: 0 auto;
  flex: 1;
  width: 100%;
}
