.footer {
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-top: auto; /* This pushes the footer to the bottom */
  padding: 24px 40px; /* Add some padding for better spacing */
}

.footer__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  vertical-align: bottom;
  margin: 0;
}

/* Responsive padding for smaller screens */
@media screen and (max-width: 768px) {
  .footer {
    padding: 16px 20px;
  }
}
