.footer {
  max-width: 1440px;
  margin: 0 auto 24px auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 4.25%;
}

.footer__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  vertical-align: bottom;
  margin: 0;
}

/* Responsive padding for smaller screens */
@media screen and (max-width: 768px) {
  .footer {
    padding: 16px 20px;
  }
}
